<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>badge</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- Colors -->
  <h1>Badge colors</h1>
  <ion-badge>99</ion-badge>
  <ion-badge color="primary">11</ion-badge>
  <ion-badge color="secondary">22</ion-badge>
  <ion-badge color="tertiary">33</ion-badge>
  <ion-badge color="success">44</ion-badge>
  <ion-badge color="warning">55</ion-badge>
  <ion-badge color="danger">66</ion-badge>
  <ion-badge color="light">77</ion-badge>
  <ion-badge color="medium">88</ion-badge>
  <ion-badge color="dark">99</ion-badge>
  <br>
  <!-- Item with badge on left and right -->
  <ion-item *ngFor="let item of items">
    <ion-label>My Item</ion-label>
    <ion-badge slot="end">{{item}}</ion-badge>
  </ion-item>
</ion-content>
