<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>button</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary">
        <ion-icon name="heart"></ion-icon>
      </ion-button>
      <ion-button color="primary">
        <ion-icon name="star"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- Ionic buttons -->
  <ion-button size="small" expand="full">Small</ion-button>
  <ion-button size="default" expand="full">Default</ion-button>
  <ion-button size="large" expand="full">Large</ion-button>

  <!-- redirect -->
  <ion-button class="mtop-20" color="tertiary" expand="full" routerLink="/alert">Go to alert page</ion-button>

  <!-- ion row and ion col -->
  <ion-row class="mtop-20">
    <ion-col>
      <ion-button expand="full" color="tertiary" routerLink="/action-sheet">
        Go to action sheet page
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full" color="tertiary" routerLink="/avatar">
        Go to avatar page
      </ion-button>
    </ion-col>
  </ion-row>


  <!-- Fill -->
  <ion-button class="mtop-20" fill="clear">Clear</ion-button>
  <ion-button class="mtop-20" fill="outline">Outline</ion-button>
  <ion-button class="mtop-20" fill="solid">Solid</ion-button>
</ion-content>
